<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (mousedown)="navController.back()" />
    </ion-buttons>
    <ion-title>New Game</ion-title>
    <ion-buttons slot="end">
      <ion-button (mousedown)="onSubmit()">Start</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="form">
    <ion-item-group formGroupName="config">
      <ion-item lines="none">
        <ion-label class="ion-text-uppercase"> Config </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label slot="start">Sets</ion-label>
        <ion-input
          class="ion-text-right"
          slot="end"
          name="sets"
          type="number"
          formControlName="sets"
        />
      </ion-item>
      <ion-item lines="none">
        <ion-label slot="start">Legs</ion-label>
        <ion-input
          class="ion-text-right"
          slot="end"
          name="legs"
          type="number"
          formControlName="legs"
        />
      </ion-item>
      <ion-item lines="none">
        <ion-label slot="start">Target</ion-label>
        <ion-input
          class="ion-text-right"
          slot="end"
          name="target"
          type="number"
          formControlName="target"
        />
      </ion-item>
    </ion-item-group>
    <ion-item-group formGroupName="players">
      <ion-item
        appPress
        button
        lines="none"
        (shortpress)="onAddPlayers()"
        (longpress)="onEditPlayers()"
      >
        <ion-label class="ion-text-uppercase">Players</ion-label>
        <ion-button
          class="ion-no-padding ion-no-margin"
          color="dark"
          fill="clear"
          slot="end"
        >
          <ion-icon icon="icons-only" name="add-outline" />
        </ion-button>
      </ion-item>
      <ion-item-sliding
        *ngFor="let entry of players.controls | keyvalue; let i = index"
      >
        <ion-item lines="none">
          <ion-label> {{ entry.value.value.name }} </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger">
            <ion-button
              fill="clear"
              (mousedown)="onRemovePlayers(entry.value.value)"
            >
              <ion-icon color="dark" name="trash-outline" />
            </ion-button>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </form>
</ion-content>
