<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/games" />
    </ion-buttons>
    <ion-title>New game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-item-group formGroupName="config">
      <ion-item>
        <ion-label>Config</ion-label>
      </ion-item>
      <ion-item>
        <ion-label slot="start">Legs</ion-label>
        <ion-input slot="end" name="legs" formControlName="legs" />
      </ion-item>
      <ion-item>
        <ion-label slot="start">Target</ion-label>
        <ion-input slot="end" name="target" formControlName="target" />
      </ion-item>
    </ion-item-group>
    <ion-item-divider />
    <ion-item-group formArrayName="players">
      <ion-item>
        <ion-label>Players</ion-label>
      </ion-item>
      @for (player of players.controls; track $index) {
      <ion-item-sliding>
        <ion-item>
          <ion-label>{{ $index + 1 }} {{ player.value.name }}</ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="onRemove(player.value)">
            Remove
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      }
      <ion-button (click)="onAddPlayer()">Add player</ion-button>
    </ion-item-group>
  </form>
</ion-content>

<ion-footer class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          shape="round"
          expand="full"
          color="primary"
          fill="solid"
          (click)="onConfirm()"
        >
          Confirm
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          shape="round"
          fill="solid"
          expand="full"
          color="danger"
          routerLink="/games"
          routerDirection="back"
        >
          Cancel
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
