<ion-list class="ion-no-padding" lines="none">
  @for (entry of scoreService.getScores() | keyvalue; track $index) {
    <ion-item-group>
      <ion-item>
        <ion-icon
          [color]="
            playerService.getIsCurrentPlayer(entry.key) ? 'success' : 'light'
          "
          slot="start"
          name="chevron-forward-outline"
          size="small"
        />
        <ion-label
          [color]="
            playerService.getIsCurrentPlayer(entry.key) ? 'success' : 'dark'
          "
        >
          {{ entry.value.player.name }}
        </ion-label>
        <ion-label slot="end">{{ entry.value.total }}</ion-label>
      </ion-item>
      @for (
        checkout of scoreService.getScoreCheckouts(entry.value.total);
        track $index
      ) {
        <ion-item>
          <ion-label> {{ checkout }}</ion-label>
        </ion-item>
      }
    </ion-item-group>
  }
</ion-list>
