<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/games" />
    </ion-buttons>
    <ion-title>Game</ion-title>
    <ion-buttons slot="end">
      <ion-button></ion-button>
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main class="flex flex-col h-full">
    <section class="flex-1 ion-padding">
      <app-scoring />
    </section>
    <section>
      <app-keyboard (confirm)="onConfirm($event)" />
    </section>
  </main>
</ion-content>
