<ion-content class="ion-padding" [fullscreen]="true">
  <ion-list class="ion-no-padding" lines="none">
    <ion-item routerLink="/games/new" routerDirection="forward">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>New game</ion-label>
    </ion-item>
    <ion-item routerLink="/games" routerDirection="forward">
      <ion-icon name="refresh-outline"></ion-icon>
      <ion-label>Play again</ion-label>
    </ion-item>
    <ion-item routerLink="/players" routerDirection="forward">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Players</ion-label>
    </ion-item>
    <ion-item routerLink="/stats" routerDirection="forward">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-item>
    <ion-item routerLink="/settings" routerDirection="forward">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
