<ion-header translucent>
  <ion-toolbar>
    <ion-title>Darts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list color="none" lines="none">
    <ion-item button detail (mousedown)="router.navigate(['games', 'new'])">
      <ion-icon name="add-outline" />
      <ion-label class="ion-padding">New Game</ion-label>
    </ion-item>
    <ion-item button detail (mousedown)="router.navigate(['games'])">
      <ion-icon name="refresh-outline" />
      <ion-label class="ion-padding">Resume Game</ion-label>
    </ion-item>
    <ion-item button detail (mousedown)="router.navigate(['players'])">
      <ion-icon name="people-outline" />
      <ion-label class="ion-padding">Players</ion-label>
    </ion-item>
    <ion-item button detail (mousedown)="router.navigate(['statistics'])">
      <ion-icon name="stats-chart-outline" />
      <ion-label class="ion-padding">Statistics</ion-label>
    </ion-item>
    <ion-item button detail (mousedown)="router.navigate(['settings'])">
      <ion-icon name="settings-outline" />
      <ion-label class="ion-padding">Settings</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
